:root {
  --branding-color: #f8f6f1;
  --button-color: #ec7e50;
  --heading-color: #d6ac8d;
  --heading-font-family: "Marcellus", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
  color: #677079;
}
.hero {
  background-color: var(--branding-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font-family);
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 64px;
}
h3 {
  font-size: 48px;
}
p {
  font-size: 16px;
  line-height: 30px;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
  color: #677079;
}
.about-hero {
  padding: 160px 20px;
}
.about-hero h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-hero h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  color: #677079;
}
.about-section-content {
  margin: 50px;
}
.btn-branding {
  background-color: var(--button-color);
  border-radius: 4px;
  color: white;
  font-size: 16px;
  line-height: 27px;
  padding: 18px 30px;
  transition: all 200ms ease-in-out;
}
a.btn-branding:hover {
  border-radius: 4px !important;
  padding: 18px 30px !important;
  font-size: 16px !important;
  line-height: 27px !important;
  border: 1px solid var(--button-color) !important;
  color: var(--button-color) !important;
}
.btn-branding-outline {
  border-radius: 4px;
  padding: 18px 30px;
  font-size: 16px;
  line-height: 27px;
  border: 1px solid var(--button-color);
  color: var(--button-color);
  transition: all 200ms ease-in-out;
}
a.btn-branding-outline:hover {
  background-color: var(--button-color) !important;
  border-radius: 4px !important;
  color: white !important;
  font-size: 16px !important;
  line-height: 27px !important;
  padding: 18px 30px !important;
}
.project-description {
  margin: 120px 40px;
}
.work-inquiry {
  background-color: var(--branding-color);
  padding: 30px 5px;
  margin-top: 100px;
}
.work {
  padding: 0 0 0 50px;
}
.fa-facebook-f {
  color: var(--button-color);
  font-size: 25px;
  padding: 20px;
}

.fa-instagram {
  color: var(--button-color);
  padding: 20px;
  font-size: 25px;
}

@media (max-width: 960px) {
  .project-description {
    margin: 20px 0;
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 36px;
  }
  .hero {
    padding: 80px 20px;
  }
  .work-inquiry {
    text-align: center;
  }
  .about-hero {
    text-align: center;
    padding: 0;
  }
}
